@import url('https://fonts.googleapis.com/css?family=Hubballi|Poppins');


body{
  text-align:center;
 /*background-image:url(sky3.jpg);
  background-size:cover;
  */
  background:gray;
}

p{
  font-family: 'Poppins' , Helvetica;
  margin:7px;
}

#nav{
  font-family:"Hubballi" , Helvetica;
  margin:10px;



}
/*#nav > a {
  color:var(--url-color) !important;
}*/

a:hover {
  color:#24f94f !important;
}

.header {
  font-family:cursive;
  margin:5px;
}
input {
  border-style:dashed;
  height:35px;
}
#projects {
  margin:2px;
 
}
a {
  color:#ffb005;
  text-decoration:none;
}
/* Ahh , space */
#indexh {
  margin:20px;
}


/* Make it fair for phones  too ! :D */

  #indexh > .header {
    background-color:yellow;
    left:45vw;
    bottom:70vh;
    position:absolute;
  }

#work {
  border:10px ridge #ffffff;
  background-color:skyblue;
  margin:8px;
}

#work > h3 {
  font-family:Helvetica;  
}
#work > h3,
#work > p,
#work > a {
padding:7px;
  color:white;
  
}

/* Cursive doesn't look good on phones so ... */

@media (max-width:500px){
  #indexh > .header {
    font-family:Helvetica;
  }
  
}

#workbody {
  overflow:auto;
}

#work > img {
  width:45%;

}