@import url('https://fonts.googleapis.com/css?family=Hubballi|Poppins|Luckiest+Guy');


body{
  text-align:center;
 /*background-image:url(sky3.jpg);
  background-size:cover;
  */
  background:gray;
}

p{
  font-family: 'Poppins' , Helvetica;
  margin:7px;
}

#nav{
  font-family:"Hubballi" , Helvetica;
  margin:10px;
  padding:9px;

}
.nav {
  border:8px ridge blue;
  width:95%;
  justify-content:center;
  margin-left:auto;
  margin-right:auto;
  float:auto;
 
  
}
/*#nav > a {
  color:var(--url-color) !important;
}*/

form {
  margin:13px;
}
a:hover {
  color:#24f94f !important;
}

.header {
  font-family:cursive;
  margin:10px;
}
input {
  border-style:dashed;
  height:20px;
}
#projects {
  margin:2px;
 
}
a {
  color:#ffb005;
  text-decoration:none;
}
/* Ahh , space */
#indexh {
  margin:20px;
}


/* Make it fair for phones  too ! :D */

  #indexh > .header {
    background-color:yellow;
    left:45vw;
    bottom:70vh;
    position:absolute;
  }

#work {
  border:10px ridge #ffffff;
  background-color:skyblue;
  margin:8px;
}

#work > h3 {
  font-family:Helvetica;  
}
#work > h3,
#work > p,
#work > a {
padding:7px;
  color:white;
  
}


@media (max-width:500px){
  #indexh > .header {
    padding:8px;
    font-family:'Luckiest Guy', Helvetica;
  }
  
}
@media (max-width:490px){
  body:not(#workbody):not(#aboutp){
   overflow-x:hidden; 
  }
}

#workbody {
  overflow:auto;
}

#work > img {
  width:45%;

}
img {
  width:35%;
}
