<!doctype html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Sonicx180</title>
  	<link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <nav id = "nav"><a href = '/'>Home</a> ,<a href ='/about'> About </a> , <a href = '/work'> Work </a></nav>
     
    <h2 class = "header"> Add to Work </h2>
    <form action = "/add-work" method = "POST">
      <input name = "title" placeholder = "Title of Work" size = 15 required><br><br>
      <input name = "description" placeholder = " Description of Work (optional)" size = 20><br><br>
      <input name = "i-url" placeholder = "https://edge.sonicx180.repl.co/public/Untitled.jpg" size = 17>
      <input name = "url" placeholder = "https://example.com" size = 15><br><br>
      <input name = "password" size = 12 type = "password"  required><br><br>
      <input type = "submit" value = "Submit">
    </form>
    <h2 class = "header"> Edit Work</h2>
    <form action = "/edit-proj" method = "POST">
      <select name = "projid" id = "projid-2"></select>
      <input name = 'title' size = 12 placeholder = "title">
      <input name = 'desc' size = 12 placeholder = "description">
      <input name = "url" size = 12 placeholder = "url">
      <input name = "password" size = 12>
      <input type = 'submit' value = "Submit">
    </form>
    <h2 class = "header"> Remove from Work </h2>
    <form action = "/del-proj" method = 'post'>
      <select name = "projid" id = "projid-1"></select>
      <input name = "password" type = "password">
      <input type = "submit" value = "Submit">
    </form>
    <script>
     // if(!document.cookie){
        //document.body.innerHTML = "<h1> Login to the Dashboard </h1>"
     // }
 // Thanks to github.com/conner1115/PortfolioV4
      (async () => {
        let projects = await fetch("/api/projects").then(r => r.json())
        for(var p of projects){
          document.getElementById("projid-1").innerHTML += `<option value = "${p._id}">${p.title}</option>`;
          document.getElementById("projid-2").innerHTML += `<option value = "${p._id}">${p.title}</option>`;
        }
        
      })();
    </script>
  </body>
</html>
