<!doctype html>
<html>
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Sonicx180</title>
  	<link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <nav id = "nav"><a href = '/'>Home</a> ,<a href ='/about'> About </a> , <a href = '/work'> Work </a></nav>
     
    <h2 class = "header"> Add to Work </h2>
    <form action = "/add-work" method = "POST">
      <input name = "title" placeholder = "Title of Work" size = 15 required><br><br>
      <input name = "description" placeholder = " Description of Work (optional)" size = 20><br><br>
      <input name = "i-url" placeholder = "https://edge.sonicx180.repl.co/public/Untitled.jpg" size = 17>
      <input name = "url" placeholder = "https://example.com" size = 15><br><br>
      <input name = "password" size = 12 type = "password"  required><br><br>
      <input type = "submit" value = "Submit">
    </form>
    <script>
     // if(!document.cookie){
        //document.body.innerHTML = "<h1> Login to the Dashboard </h1>"
     // }
    </script>
  </body>
</html>