<!doctype html>

<!-- Thanks to @GamerX180 for the design -->
<html>
  <head>
    <meta charset = "utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:image" content="/public/sky.png">
    <meta property="og:image:type" content="image/png"/>
    <title> Sonicx180</title>
  	<link id = "style" rel="stylesheet" href="/public/style.css">
    <script src = "https://unpkg.com/feather-icons"></script>
  </head>
  <body background = "IMAGE">
    <nav id = "nav"><i data-feather = "home"></i><a href = '/'>Home</a> ,<a href ='/about'> About </a> , <a href = '/work'> Work </a> </nav>
    <div id = "indexh"><h2 class = "header"> Sonicx180</h2>
    <img src = "/public/sky2.png">
    </div>

    <br>
    <button id = "rmcss"> Remove the Style</button>
    <p> HTML , CSS , JS , PYTHON (a bit) , NODEJS</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <!-- So many br's :D -->

    <h6 style = "font-size:0.2em"><a href = "/admin">Admin Dashboard</a></h6>
    <script>
      var rmcss = document.getElementById("rmcss");
      rmcss.addEventListener("click",(evt) => {
        evt.preventDefault();
        document.getElementById("style").href = "";
      })
    </script>
  </body>
</html>